.*
~*
*.log
*.pot
*.pyc
*.pid
*.sock
local_settings.py
/fcgi
/media/*
/static/*
/resource/*
/.idea
/.netbeans
/.settings
/.projects
!.gitkeep
!.gitignore
!*.sh
!readme.txt
*.sublime-project
*.sublime-workspace